# Python fundamentals

### Comments

In [ ]:
#We can write single line comments using # 
"""Multi-line comments
can be written using the multi line comment
"""

### Primitive Datatypes

In [1]:
1+10

11

In [2]:
7/2

3.5

In [3]:
7//2 # use the // to get only the int part of the division

3

In [4]:
2*4

8

In [5]:
5.0/2.0

2.5

In [6]:
5.0//2.0 #works on floats as well!

2.0

In [7]:
5/2

2.5

In [8]:
#modulo operator
5%3

2

In [9]:
#exponents
2**4

16

In [18]:
#precedance can be enforced with parenthesis
print(3+4*5)
print((3+4)*5)

23
35

In [21]:
print(True and True)
print(True and False)
print(True or False)
print(True or True)

True
False
True
True

In [22]:
0 == False

True

In [24]:
1 == True

True

In [25]:
0 or -5

-5

In [27]:
0 and 2

0

In [28]:
1 == 1

True

In [29]:
1 == 3

False

In [31]:
print(1>2)
print(1>=2)
print(2<=2)

False
False
True

In [32]:
# we can also chain comparison as follows
1<4<5

True

In [34]:
# We can also work with strings as shown
a='Hello world'
print(a)

Hello world

In [40]:
b='!!!!!'
print(a+b)
"hello" "python" #we can add two stings like this as well

Hello world!!!!!

'hellopython'

In [36]:
a*3

'Hello worldHello worldHello world'

In [37]:
# a string can be considered as a list of characters
a[0]

'H'

In [39]:
len(a) #length of the string

11

In [43]:
a='Cat'
b='mat'

print('Mr {} loves to sit on his {}'.format(a,b))
print('Mr {name} loves to sit on his {place}'.format(name='Matt',place='chair'))

Mr Cat loves to sit on his mat
Mr Matt loves to sit on his chair

In [47]:
#There is also a none type object
a=None
print(a)

None

In [51]:
#we should not use the == to compare objects to None 
val=None
val is None #the is operator checks for object identity which is very useful wrt objects

False

In [56]:
#we can use the bool() for a variety of reasons 
print(bool(""))
print(bool("hello"))
print(bool(a))
print(bool(0))
print(bool(100000))

False
True
False
False
True

In [59]:
input_data=input() #use the input method to get user input

12345

In [61]:
print(input_data)#will take in data as a string
type(input_data) #use the type() to get the datatype of the variable.

12345

str

In [63]:
#we can write a ternary operator as follows
a='abcdefg'
b='hijklm'
"amazing" if len(a) > len(b) else "sorry"

'amazing'

### Lists

In [70]:
l1=[]
l2=[1,2,3,'a']

In [71]:
print(type(l1),type(l2))

<class 'list'> <class 'list'>

In [72]:
l1.append(1)
l2.append('g|')

In [73]:
print(l1,l2)#the list.append() will add the newly added variable
#to the end of the list

[1] [1, 2, 3, 'a', 'g|']

In [75]:
#to delete the last element from the list use the list.pop()
l2.pop()

'g|'

In [76]:
print(l1,l2)

[1] [1, 2, 3, 'a']

In [78]:
#indexing lists
#we can index list elements as follows
print(l2[0],l2[1])

1 2

In [79]:
l2[-1]#use -1 to access the last element present in the list

'a'

In [81]:
l2[0]='h' #to set a value inside the list
print(l2)

['h', 2, 3, 'a']

In [82]:
l2[7] #we will get an IndexError

IndexError: list index out of range

In [83]:
l2[1:3]#we can get a range of values using the : operator

[2, 3]

In [84]:
l2[:3] #will return from the 0th index

['h', 2, 3]

In [88]:
l2[::3]#it will select every thrid entry
#list[start:end:step]

['h', 'a']

In [89]:
l2[::-1]# this can be used to reverse a string.

['a', 3, 2, 'h']

In [93]:
#To delete elements from our list we can use the del
del l2[1]
print(l2)

['h', 'a']

In [107]:
l3=[1,2,3,4,5,6,7]
l4=['a','b','c','d','e','f']
#we can Concatenate 2 lists as 
print(l3+l4)
#we can also make use of the list.extend()
l3.extend(l4)#l3 will be changed in this case
print(l3)

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f']
[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f']

In [108]:
#to remove wrt to values instead of index we can use
l3.append(2)
print(l3)
l3.remove(2)#the remove function will remove the first occurance
#of 2
print(l3)

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f', 2]
[1, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f', 2]

In [109]:
#list.append() will insert the value directly at the end of the
#list if we want to add the list item at a specific location 
#we need to use the list.insert()
l3.insert(0,'r')
print(l3)#we have inserted r in the 0th index

['r', 1, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f', 2]

In [110]:
#now to get the index of a value inside the list we use the 
#list.index()
l3.index('a')

7

In [111]:
#if we cannot find it in the list it will throw an error
l3.index('z')

ValueError: 'z' is not in list

In [112]:
#we can check in a boolean fashion if some value is present 
#inside the list
4 in l3

True

In [114]:
'z' in l3

False

In [115]:
#we can also find the length of the list using the len()
len(l3)

14

### Tuples

In [116]:
#Tuples are quite simmilar to lists but they are immutable
t1=(1,2,3)
t1[0]

1

In [118]:
t1[0]=8

TypeError: 'tuple' object does not support item assignment

In [121]:
#we can do most of the things we can do in lists in tuples \
#as well
t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)
print(t1[:2])
print(6 in t1)
print(6 in t2)

(1, 2, 3, 4, 5, 6)
(1, 2)
False
True

In [123]:
#we can unpack lists as well as tuples inside a bunch of variables
l1=[1,2,3,4,5,6]
t1=(1,2,3,4,5,6)
a,b,c=l1[::2]
print(a,b,c)
d,e,f=t1[::2]
print(d,e,f)

1 3 5
1 3 5

In [124]:
#tuples are created 
a=1,2,3
type(a)

tuple

In [125]:
a=1
b=2
c=3
d=4
a,b=c,d
print(a,b,c,d)

3 4 3 4