# Python fundamentals

### Comments

In [ ]:
#We can write single line comments using # 
"""Multi-line comments
can be written using the multi line comment
"""

### Primitive Datatypes

In [ ]:
#immutable:-int, float, complex, string, tuple 
#mutable:-list, set, dictionary

In [1]:
1+10

11

In [2]:
7/2

3.5

In [3]:
7//2 # use the // to get only the int part of the division

3

In [4]:
2*4

8

In [5]:
5.0/2.0

2.5

In [6]:
5.0//2.0 #works on floats as well!

2.0

In [7]:
5/2

2.5

In [8]:
#modulo operator
5%3

2

In [9]:
#exponents
2**4

16

In [18]:
#precedance can be enforced with parenthesis
print(3+4*5)
print((3+4)*5)

23
35

In [21]:
print(True and True)
print(True and False)
print(True or False)
print(True or True)

True
False
True
True

In [22]:
0 == False

True

In [24]:
1 == True

True

In [25]:
0 or -5

-5

In [27]:
0 and 2

0

In [28]:
1 == 1

True

In [29]:
1 == 3

False

In [31]:
print(1>2)
print(1>=2)
print(2<=2)

False
False
True

In [1]:
a=x=y=20#chained assignment in python

In [4]:
print(a,x,y)

40 20 20

In [3]:
a=40

In [5]:
print(a,x,y)

40 20 20

In [11]:
a,x,y=1,'hello',3

In [12]:
print(a,x,y)

1 hello 3

In [13]:
a=x=y=1,'hello',3# will end up creating a tuple in this case

In [14]:
print(a,x,y)

(1, 'hello', 3) (1, 'hello', 3) (1, 'hello', 3)

In [16]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [35]:
a=100
b=a
print(a is b)
print(id(a),id(b))
b=500
print(a is b)
print(id(a),id(b))

True
8791198920624 8791198920624
False
8791198920624 142230128

In [17]:
a=10
b=20
print(id(a),id(b))

8791198917744 8791198918064

In [51]:
#type conversion in python
print(int(3.62))
print(float(3))
print(complex(4,4))
print(int(float('34.7')))
print(float('3.2'))
print(str(3.77))
print(str(True))
print(bool(0))

3
3.0
(4+4j)
34
3.2
3.77
True
False

In [82]:
#python strings
s1='hello'
s2='world'
print(s1+s2)
print(s1+str(9))
print(len(s1))
print(s1*3)
print('he' in s1)
print('hl' in s1)
print('ee' in s1)
print(s1[::])
print(s1[2::1])
print(sorted(s1))#returns a list of characters sorted
print(min(s1))
print(max(s1))
#we can use a dumber of methods on a string object but since our string object is immutable it will not do any changes to the 
#original string.
print(s1.isupper())
print(s1.islower())
print(s1.isnumeric())
print(s1.isalnum())
print(s1.isalpha())
print(s1.upper())
print(s1.lower())
print(s1.replace('h','b'))
print(s1.find('ll'))#strings are 0 indexed
print(s1.index('ell'))
print(s1.count('l'))
print((s1+s2).count('l'))
s3='            a long string present here          '
print(s3.strip())#remove any leading or trailing spaces present 
print(s3.strip().split())
print(s2.split())#breaks by space by default can be changed
print(' '.join(s2))
print('\t'.join(s2))
print('\n'.join(s2))
print(s2.split('o'))#will now split on '0'
s4='hello \n world \n !!!!'
print(s4.split(' \n '))#we can split files based on different delimeters using the string.split()

helloworld
hello9
5
hellohellohello
True
False
False
hello
llo
['e', 'h', 'l', 'l', 'o']
e
o
False
True
False
True
True
HELLO
hello
bello
2
1
2
3
a long string present here
['a', 'long', 'string', 'present', 'here']
['world']
w o r l d
w	o	r	l	d
w
o
r
l
d
['w', 'rld']
['hello', 'world', '!!!!']

In [19]:
a=b=10
print(id(a),id(b))#same id Memory location
c=20
d=c
print(id(c),id(d))
d=29
print(d,c,id(c),id(d))

8791198917744 8791198917744
8791198918064 8791198918064
29 20 8791198918064 8791198918352

In [21]:
a=4.5
a.as_integer_ratio()#cool trick while working with float values

(9, 2)

In [24]:
print(a.is_integer())#type checking in python

False

In [29]:
#working with complex numbers
a=3+5j
print(type(a))
print(a.conjugate(),a.real,a.imag)
#a.real=5 we cannot do this as a complex type variable is immutable

<class 'complex'>
(3-5j) 3.0 5.0

AttributeError: readonly attribute

In [32]:
# we can also chain comparison as follows
1<4<5

True

In [34]:
# We can also work with strings as shown
a='Hello world'
print(a)

Hello world

In [40]:
b='!!!!!'
print(a+b)
"hello" "python" #we can add two stings like this as well

Hello world!!!!!

'hellopython'

In [36]:
a*3

'Hello worldHello worldHello world'

In [37]:
# a string can be considered as a list of characters
a[0]

'H'

In [39]:
len(a) #length of the string

11

In [43]:
a='Cat'
b='mat'

print('Mr {} loves to sit on his {}'.format(a,b))
print('Mr {name} loves to sit on his {place}'.format(name='Matt',place='chair'))

Mr Cat loves to sit on his mat
Mr Matt loves to sit on his chair

In [47]:
#There is also a none type object
a=None
print(a)

None

In [51]:
#we should not use the == to compare objects to None 
val=None
val is None #the is operator checks for object identity which is very useful wrt objects

False

In [56]:
#we can use the bool() for a variety of reasons 
print(bool(""))
print(bool("hello"))
print(bool(a))
print(bool(0))
print(bool(100000))

False
True
False
False
True

In [59]:
input_data=input() #use the input method to get user input

12345

In [61]:
print(input_data)#will take in data as a string
type(input_data) #use the type() to get the datatype of the variable.

12345

str

In [63]:
#we can write a ternary operator as follows
a='abcdefg'
b='hijklm'
"amazing" if len(a) > len(b) else "sorry"

'amazing'

### Lists

In [133]:
l1=[]
l2=[1,2,3,'a']
l3=list(range(1,10,2))
l4=list('Hello world')#strings are iterable as well.
print('l1{} l2{} l3{} l4{}'.format(l1,l2,l3,l4))

l1[] l2[1, 2, 3, 'a'] l3[1, 3, 5, 7, 9] l4['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [134]:
#we can also have nested lists
l5=[[1,2,3,4,5],['a',[1,2,3]],[3,4,5,6],7,9]
print(l5[0])
print(l5[0][1])
print(l5[1][1])
print(l5[1][1][0])

print(l3)
l3[1:4]=[1,2,3]
print(l3)
l3[1:1]=[1,2,3,4,5,6,7,8,9]#we can insert elements using this method
print(l3)

[1, 2, 3, 4, 5]
2
[1, 2, 3]
1
[1, 3, 5, 7, 9]
[1, 1, 2, 3, 9]
[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 9]

In [135]:
sorted(l3)
l3[12:12]=[44]
print(max(l3))
print(min(l3))
print(l2)
print(list(reversed(l2)))#reverse the entries present in the list

44
1
[1, 2, 3, 'a']
['a', 3, 2, 1]

In [136]:
print(l3[12])
l3[::]=[]
print(l3)

44
[]

In [137]:
#use the dir() to check the list of attributes for the object
#every thing in python is an object even functions
dir(l2)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [138]:
print(type(l1),type(l2))

<class 'list'> <class 'list'>

In [139]:
l1.append(1)
l2.append('g|')

In [140]:
print(l1,l2)#the list.append() will add the newly added variable
#to the end of the list

[1] [1, 2, 3, 'a', 'g|']

In [145]:
#if we wish to append a iterable list to our list as individual members of the list we need to use the list.extend()
l2.extend([12,13,14,5,66,7])
print(l2)
#we can use the list.index() to get the index of the first occurance of the list item 
print(l2.index(1))
print(l2.index('a'))

[1, 2, 3, 'a', 'g|', 12, 13, 14, 5, 66, 7, 12, 13, 14, 5, 66, 7, 12, 13, 14, 5, 66, 7, 12, 13, 14, 5, 66, 7, 12, 13, 14, 5, 66, 7]
0
3

In [146]:
#to delete the last element from the list use the list.pop()
print(l2.pop()) #the pop function will return the value it has popped
print(l2.pop(0))#pop item at index 0
print(l2)

7
1
[2, 3, 'a', 'g|', 12, 13, 14, 5, 66, 7, 12, 13, 14, 5, 66, 7, 12, 13, 14, 5, 66, 7, 12, 13, 14, 5, 66, 7, 12, 13, 14, 5, 66]

In [76]:
print(l1,l2)

[1] [1, 2, 3, 'a']

In [78]:
#indexing lists
#we can index list elements as follows
print(l2[0],l2[1])

1 2

In [79]:
l2[-1]#use -1 to access the last element present in the list

'a'

In [81]:
l2[0]='h' #to set a value inside the list
print(l2)

['h', 2, 3, 'a']

In [82]:
l2[7] #we will get an IndexError

IndexError: list index out of range

In [83]:
l2[1:3]#we can get a range of values using the : operator

[2, 3]

In [84]:
l2[:3] #will return from the 0th index

['h', 2, 3]

In [88]:
l2[::3]#it will select every thrid entry
#list[start:end:step]

['h', 'a']

In [89]:
l2[::-1]# this can be used to reverse a string.

['a', 3, 2, 'h']

In [93]:
#To delete elements from our list we can use the del
del l2[1]
print(l2)

['h', 'a']

In [107]:
l3=[1,2,3,4,5,6,7]
l4=['a','b','c','d','e','f']
#we can Concatenate 2 lists as 
print(l3+l4)
#we can also make use of the list.extend()
l3.extend(l4)#l3 will be changed in this case
print(l3)

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f']
[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f']

In [108]:
#to remove wrt to values instead of index we can use
l3.append(2)
print(l3)
l3.remove(2)#the remove function will remove the first occurance
#of 2
print(l3)

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f', 2]
[1, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f', 2]

In [109]:
#list.append() will insert the value directly at the end of the
#list if we want to add the list item at a specific location 
#we need to use the list.insert()
l3.insert(0,'r')
print(l3)#we have inserted r in the 0th index

['r', 1, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f', 2]

In [110]:
#now to get the index of a value inside the list we use the 
#list.index()
l3.index('a')

7

In [111]:
#if we cannot find it in the list it will throw an error
l3.index('z')

ValueError: 'z' is not in list

In [112]:
#we can check in a boolean fashion if some value is present 
#inside the list
4 in l3

True

In [114]:
'z' in l3

False

In [115]:
#we can also find the length of the list using the len()
len(l3)

14

### Tuples

In [116]:
#Tuples are quite simmilar to lists but they are immutable
t1=(1,2,3)
t1[0]

1

In [118]:
t1[0]=8

TypeError: 'tuple' object does not support item assignment

In [121]:
#we can do most of the things we can do in lists in tuples \
#as well
t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)
print(t1[:2])
print(6 in t1)
print(6 in t2)

(1, 2, 3, 4, 5, 6)
(1, 2)
False
True

In [123]:
#we can unpack lists as well as tuples inside a bunch of variables
l1=[1,2,3,4,5,6]
t1=(1,2,3,4,5,6)
a,b,c=l1[::2]
print(a,b,c)
d,e,f=t1[::2]
print(d,e,f)

1 3 5
1 3 5

In [124]:
#tuples are created 
a=1,2,3
type(a)

tuple

In [125]:
a=1
b=2
c=3
d=4
a,b=c,d
print(a,b,c,d)

3 4 3 4

In [147]:
a=10
b=20
a,b=b,a
print(a,b)#swapping 2 numbers in python

20 10

### Dictionaries

In [4]:
dict1={'key1':1,'key2':'value2','key3':3}

In [148]:
#we can also create dictionaries using the dict() 
dict2=dict([('key1',1),('key2',2),(3,3)])

In [149]:
dict2.items()

dict_items([('key1', 1), ('key2', 2), (3, 3)])

In [150]:
dict2.keys()

dict_keys(['key1', 'key2', 3])

In [151]:
#dictionaries are not indexed hence we need to make use of the key value pairs
print(f'The value for key 3 is {dict2[3]} as declared in the dictionary above')#this is an example of a f string

The value for key 3 is 3 as declared in the dictionary above

In [152]:
#we can change the value of a particular key in the dictionary as 
dict2[3]='aqua'
print(f'The value for key 3 is {dict2[3]} as declared in the dictionary above')
del dict2[3]
print(dict2.keys())

The value for key 3 is aqua as declared in the dictionary above
dict_keys(['key1', 'key2'])

In [153]:
'key1' in dict2

True

In [155]:
dict2.update(key1=27)
dict2

{'key1': 27, 'key2': 2}

In [164]:
dict2.update([('Key3',33)])#we can also add keys into our dictionary using the update button.
print(dict2)

{'key1': 27, 'key2': 2, 'Key3': 33}

In [165]:
#we can use the pop() to delete an entry by specifing the key 
dict2.pop('Key3')
print(dict2)

{'key1': 27, 'key2': 2}

In [166]:
dict2.get('key1')#wil return the value given by key1

27

In [168]:
new_str='helloworld'
res=dict.fromkeys(new_str,0)
print(res)

{'h': 0, 'e': 0, 'l': 0, 'o': 0, 'w': 0, 'r': 0, 'd': 0}

In [3]:
#we can access the values using dictionary elements
dict1['key1']

1

In [5]:
#we can get a list containing all the keys of the dictionary 
#using the dictionary.keys()
dict1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [6]:
#and we can get all the values using the .values()
dict1.values()

dict_values([1, 'value2', 3])

In [7]:
#if we get a list of tuples containing all the items use 
#the dictionary.items()
dict1.items()

dict_items([('key1', 1), ('key2', 'value2'), ('key3', 3)])

In [8]:
#we can check if a key is present inside the dictionary using the
#in operator in the same way as that in lists and tuples
print('key2' in dict1)
print('l1' in dict1)

True
False

In [9]:
#we can get the values of a particular key as follows
print(dict1['key1'])
print(dict1['key11'])#we will get a keyerror

1

KeyError: 'key11'

In [10]:
#we can make use of the get() instead
print(dict1.get('key1'))
print(dict1.get('key11'))

1
None

In [11]:
#we can also specify a default argument when we dont have that 
#key present
dict1.get('four',4)#will return 4 as key named 'four' is not present

4

In [14]:
dict1['four']=4#we can add a new key value pair as follows
dict1

{'key1': 1, 'key2': 'value2', 'key3': 3, 'four': 4}

In [16]:
dict1.setdefault('five',5)#the dictionary.setdefault() will add the key value pair if not present in the dictionary
dict1

{'key1': 1, 'key2': 'value2', 'key3': 3, 'four': 4, 'five': 5}

### Sets

In [18]:
#we can create sets which are simmilar to lists but cannot hold
#duplicate values 
s1=set()
s2=set([1,2,3,4,1,2])

In [203]:
dict1={1:2,3:4,5:5}
print(dict1.keys())
set1={1,2,3,4,5,6}
print(type(set1))
set2=set([1,2,3,4,5])
set3=set((1,2,3,4,5,6,99))
print(set2,set3)
print(type(set3))
s1=set({'helloworld'})#key difference
s2=set('helloworld')
print(s1,s2)
#s4=set([1,2,3,4],[4,5,6,7,8])
print(type(s4),s4)
#we can also do things like intersection and or etc wrt to sets
print(set1 | set2)
print(set1 & set2)
print(set1 - set2)#set difference
print(set2 <= set1)#set2 is a subset of set1
print(set2 < set1)
set4={1,2,3,8}
print(set4 <= set1)
print(set4 < set1)
#we can use the set.remove() or the set.discard() the remove function will throw an error if the item is not present 
#in the set
set4.remove(1)
print(set4)
#set4.remove(99)#throws error
set4.discard(99)#does not throw an error
set4.clear()#the set.clear() will remove all the items from the set.
print(set4)
print(set1.union(set2,set3))#instead of using | & etc we can use these functions.
print(set1.intersection(set2,set3))
set5=set1.copy()#the set.copy() returns a shallow copy of set1
print(set5)
set5.add(45)
print(set1,id(set1))
print(set5,id(set5))

dict_keys([1, 3, 5])
<class 'set'>
{1, 2, 3, 4, 5} {1, 2, 3, 4, 5, 6, 99}
<class 'set'>
{'helloworld'} {'l', 'e', 'w', 'd', 'o', 'h', 'r'}
<class 'set'> {1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{6}
True
True
False
False
{8, 2, 3}
set()
{1, 2, 3, 4, 5, 6, 99}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6} 143298856
{1, 2, 3, 4, 5, 6, 45} 143300424

In [19]:
print(s2)#will ignore the duplicate values

{1, 2, 3, 4}

In [21]:
s3={1,2,3,4,5,6,7,89,1,2,3}#we can also declare a set as follows
print(s3)

{1, 2, 3, 4, 5, 6, 7, 89}

In [23]:
s3.add(123)#just like the list.append() the set has an add() which will insert the new value at the end of the list
s3

{1, 2, 3, 4, 5, 6, 7, 89, 123}

In [25]:
s1={1,2,3,4}
s2={1,5,6,7}
#we can perform a union or an intersection between two sets using the & or the |
print(s1 & s2) #returns a set with the intersection of set1 and set2
print(s1 | s2)#returns the union of set1 with set2

{1}
{1, 2, 3, 4, 5, 6, 7}

In [29]:
#set difference with - 
{1,2,3,4}-{2,3,5}
#symmetric difference with ^
{1,2,3,4}^{2,3,4}

{1}

In [30]:
{1,2}>={1,2,3}

False

In [31]:
{1,2}<={1,2,3}#check if the set on the right is a subset of the one on the left

True

In [34]:
#the in operator can be used here as well
print(2 in s1,
5 not in s1)

True True

In [35]:
i=10
if i>10:
    print(' > 10')
elif i<10:
    print('< 10')
else:
    print('10')

10

In [36]:
l1=['milk','eggs','rice','fish']
for food in l1:
    print('Tom loves to eat {stuff}'.format(stuff=food))

Tom loves to eat milk
Tom loves to eat eggs
Tom loves to eat rice
Tom loves to eat fish

In [39]:
#The range(lower,upper) will return a set of numbers from the lower number to the higher number
range(0,5)
for i in range(0,5):
    print(i)

0
1
2
3
4

### Try catch block

In [42]:
try:
    raise IndexError("Index error caused!")
except IndexError as e:
    pass #no operation
except (TypeError,NameError):
    pass
else:
    print('done')
finally:#perform cleanup of resources here
    print('close')

close

In [ ]:
#if we want to cleanup resources withought using the try/finally 
#we can use the with statement
with open('file1.txt') as f:
    for l in f:
        print(l)

In [44]:
def add(x,y):
    print('adding {a} and {b}'.format(a=x,b=y))
    return x+y
add(1,12)

adding 1 and 12

13

In [48]:
def add_var(*args):#if we want to work with a variable number of parameters theyy will be interpreted as a tuple when we use *
    sum=0
    for i in args:
        sum=sum+i
    return sum
add_var(1,2,3,4,5,6,7,8,9)

45

In [50]:
#we can also use ** to get the positional arguments which are
#interpreted as a dictionary
def add_pos(**kargs):
    print(kargs.items())
add_pos(one=1,two=2)

dict_items([('one', 1), ('two', 2)])

In [64]:
val1=16
def func():
    val1=20
    print(val1)
func()
print(val1)

20
16

In [66]:
global val2
val2=17
def func():
    val2=20
    print(val2)
func()
print(val2)

20
17

In [67]:
#LAMBDA FUNCTIONS / ANONYMOUS FUNCTIONS
(lambda x:x>=5)(10)

True

In [69]:
(lambda x,y:x+y)(12,10)#creating our add function using anonymous function

22

In [80]:
def add(x,y):
    return x+y

res=map(add,[1,2,3,4,5,6,7],[1,2,3,4,5,6])
print(list(res))

[2, 4, 6, 8, 10, 12]

In [82]:
list(map(max,[1,2,3],[4,2,1]))

[4, 2, 3]

In [84]:
res=filter(lambda x: x>3,[3,4,5,6,7,8,1,2,0])
list(res)

[4, 5, 6, 7, 8]

In [86]:
where python

SyntaxError: invalid syntax (<ipython-input-86-fa3980bc165b>, line 1)

In [10]:
vals=[(1,2,4),
     (3,4,5),
    (5,6,6) ]
df=pd.DataFrame(vals,columns=('one','two','three'))

In [11]:
df.head()

   one  two  three
0    1    2      4
1    3    4      5
2    5    6      6

In [25]:
df_new=df.apply(star,axis=0,args=[2,3])

In [23]:
def star(x,m,c):
    return x*m+c

In [21]:
res

   one  two  three
0    5    7     11
1    9   11     13
2   13   15     15

In [ ]:
import numpy as np
import pandas as pd
def star(x,m,c):
    return x*m+c
vals=[(1,2,4),
     (3,4,5),
    (5,6,6) ]
df=pd.DataFrame(vals,columns=('one','two','three'))
res=df.apply(star,axis=0,args=[2,3])