# Python fundamentals

### Comments

In [1]:
#We can write single line comments using # 
"""Multi-line comments
can be written using the multi line comment
"""

'Multi-line comments\ncan be written using the multi line comment\n'

### Primitive Datatypes

In [2]:
#immutable:-int, float, complex, string, tuple 
#mutable:-list, set, dictionary

In [3]:
1+10

11

In [4]:
7/2

3.5

In [5]:
7//2 # use the // to get only the int part of the division

3

In [6]:
2*4

8

In [7]:
5.0/2.0

2.5

In [8]:
5.0//2.0 #works on floats as well!

2.0

In [9]:
5/2

2.5

In [10]:
#modulo operator
5%3

2

In [11]:
#exponents
2**4

16

In [12]:
#precedance can be enforced with parenthesis
print(3+4*5)
print((3+4)*5)

23
35

In [13]:
print(True and True)
print(True and False)
print(True or False)
print(True or True)

True
False
True
True

In [14]:
0 == False

True

In [15]:
1 == True

True

In [16]:
0 or -5

-5

In [17]:
0 and 2

0

In [18]:
1 == 1

True

In [19]:
1 == 3

False

In [20]:
print(1>2)
print(1>=2)
print(2<=2)

False
False
True

In [21]:
a=x=y=20#chained assignment in python

In [22]:
print(a,x,y)

20 20 20

In [23]:
a=40

In [24]:
print(a,x,y)

40 20 20

In [25]:
a,x,y=1,'hello',3

In [26]:
print(a,x,y)

1 hello 3

In [27]:
a=x=y=1,'hello',3# will end up creating a tuple in this case

In [28]:
print(a,x,y)

(1, 'hello', 3) (1, 'hello', 3) (1, 'hello', 3)

In [29]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [30]:
a=100
b=a
print(a is b)
print(id(a),id(b))
b=500
print(a is b)
print(id(a),id(b))

True
8791201148848 8791201148848
False
8791201148848 81718768

In [31]:
a=10
b=20
print(id(a),id(b))

8791201145968 8791201146288

In [32]:
#type conversion in python
print(int(3.62))
print(float(3))
print(complex(4,4))
print(int(float('34.7')))
print(float('3.2'))
print(str(3.77))
print(str(True))
print(bool(0))

3
3.0
(4+4j)
34
3.2
3.77
True
False

In [33]:
#python strings
s1='hello'
s2='world'
print(s1+s2)
print(s1+str(9))
print(len(s1))
print(s1*3)
print('he' in s1)
print('hl' in s1)
print('ee' in s1)
print(s1[::])
print(s1[2::1])
print(sorted(s1))#returns a list of characters sorted
print(min(s1))
print(max(s1))
#we can use a dumber of methods on a string object but since our string object is immutable it will not do any changes to the 
#original string.
print(s1.isupper())
print(s1.islower())
print(s1.isnumeric())
print(s1.isalnum())
print(s1.isalpha())
print(s1.upper())
print(s1.lower())
print(s1.replace('h','b'))
print(s1.find('ll'))#strings are 0 indexed
print(s1.index('ell'))
print(s1.count('l'))
print((s1+s2).count('l'))
s3='            a long string present here          '
print(s3.strip())#remove any leading or trailing spaces present 
print(s3.strip().split())
print(s2.split())#breaks by space by default can be changed
print(' '.join(s2))
print('\t'.join(s2))
print('\n'.join(s2))
print(s2.split('o'))#will now split on '0'
s4='hello \n world \n !!!!'
print(s4.split(' \n '))#we can split files based on different delimeters using the string.split()

helloworld
hello9
5
hellohellohello
True
False
False
hello
llo
['e', 'h', 'l', 'l', 'o']
e
o
False
True
False
True
True
HELLO
hello
bello
2
1
2
3
a long string present here
['a', 'long', 'string', 'present', 'here']
['world']
w o r l d
w	o	r	l	d
w
o
r
l
d
['w', 'rld']
['hello', 'world', '!!!!']

In [34]:
a=b=10
print(id(a),id(b))#same id Memory location
c=20
d=c
print(id(c),id(d))
d=29
print(d,c,id(c),id(d))

8791201145968 8791201145968
8791201146288 8791201146288
29 20 8791201146288 8791201146576

In [35]:
a=4.5
a.as_integer_ratio()#cool trick while working with float values

(9, 2)

In [36]:
print(a.is_integer())#type checking in python

False

In [37]:
#working with complex numbers
a=3+5j
print(type(a))
print(a.conjugate(),a.real,a.imag)
#a.real=5 we cannot do this as a complex type variable is immutable

<class 'complex'>
(3-5j) 3.0 5.0

In [38]:
# we can also chain comparison as follows
1<4<5

True

In [39]:
# We can also work with strings as shown
a='Hello world'
print(a)

Hello world

In [40]:
b='!!!!!'
print(a+b)
"hello" "python" #we can add two stings like this as well

Hello world!!!!!

'hellopython'

In [41]:
a*3

'Hello worldHello worldHello world'

In [42]:
# a string can be considered as a list of characters
a[0]

'H'

In [43]:
len(a) #length of the string

11

In [44]:
a='Cat'
b='mat'

print('Mr {} loves to sit on his {}'.format(a,b))
print('Mr {name} loves to sit on his {place}'.format(name='Matt',place='chair'))

Mr Cat loves to sit on his mat
Mr Matt loves to sit on his chair

In [45]:
#There is also a none type object
a=None
print(a)

None

In [46]:
#we should not use the == to compare objects to None 
val=None
val is None #the is operator checks for object identity which is very useful wrt objects

True

In [47]:
#we can use the bool() for a variety of reasons 
print(bool(""))
print(bool("hello"))
print(bool(a))
print(bool(0))
print(bool(100000))

False
True
False
False
True

In [ ]:
input_data=input() #use the input method to get user input

In [ ]:
print(input_data)#will take in data as a string
type(input_data) #use the type() to get the datatype of the variable.

In [ ]:
#we can write a ternary operator as follows
a='abcdefg'
b='hijklm'
"amazing" if len(a) > len(b) else "sorry"

### Lists

In [ ]:
l1=[]
l2=[1,2,3,'a']
l3=list(range(1,10,2))
l4=list('Hello world')#strings are iterable as well.
print('l1{} l2{} l3{} l4{}'.format(l1,l2,l3,l4))

In [ ]:
#we can also have nested lists
l5=[[1,2,3,4,5],['a',[1,2,3]],[3,4,5,6],7,9]
print(l5[0])
print(l5[0][1])
print(l5[1][1])
print(l5[1][1][0])

print(l3)
l3[1:4]=[1,2,3]
print(l3)
l3[1:1]=[1,2,3,4,5,6,7,8,9]#we can insert elements using this method
print(l3)

In [ ]:
sorted(l3)
l3[12:12]=[44]
print(max(l3))
print(min(l3))
print(l2)
print(list(reversed(l2)))#reverse the entries present in the list

In [ ]:
print(l3[12])
l3[::]=[]
print(l3)

In [ ]:
#use the dir() to check the list of attributes for the object
#every thing in python is an object even functions
dir(l2)

In [ ]:
print(type(l1),type(l2))

In [ ]:
l1.append(1)
l2.append('g|')
#we can also take this further and pass in an entire list as an argument to the list.append()
l2.append(['a','b','c'])
print(l2)
print(l1)
#if we want to merge the two lists together we can use the list.extend()
l1.extend(l2)
print(l1)
#list.append() will add the entire list passed to it as an item and append it to the list
#the list.extend() will add each list item present in the list passed to it as a separate list item
#if we want to go ahead and now add an item to the list at a specific position
l1.insert(0,'hello')
print(l1)

In [ ]:
#differnet ways to iterate through a list
data=list(range(10))
i=0
while i<len(data):
    print(i)
    i=i+1
for i in range(len(data)):
    print(i)

In [ ]:
print(l1,l2)#the list.append() will add the newly added variable
#to the end of the list

In [ ]:
#if we wish to append a iterable list to our list as individual members of the list we need to use the list.extend()
l2.extend([12,13,14,5,66,7])
print(l2)
#we can use the list.index() to get the index of the first occurance of the list item 
print(l2.index(1))
print(l2.index('a'))

In [ ]:
#to delete the last element from the list use the list.pop()
print(l2.pop()) #the pop function will return the value it has popped
print(l2.pop(0))#pop item at index 0
print(l2)

In [ ]:
print(l1,l2)

In [ ]:
#indexing lists
#we can index list elements as follows
print(l2[0],l2[1])

In [ ]:
l2[-1]#use -1 to access the last element present in the list

In [ ]:
l2[0]='h' #to set a value inside the list
print(l2)

In [ ]:
l2[7] #we will get an IndexError

In [ ]:
l2[1:3]#we can get a range of values using the : operator

In [ ]:
l2[:3] #will return from the 0th index

In [ ]:
l2[::3]#it will select every thrid entry
#list[start:end:step]

In [ ]:
l2[::-1]# this can be used to reverse a string.

In [ ]:
#To delete elements from our list we can use the del
del l2[1]
print(l2)

In [ ]:
l3=[1,2,3,4,5,6,7]
l4=['a','b','c','d','e','f']
#we can Concatenate 2 lists as 
print(l3+l4)
#we can also make use of the list.extend()
l3.extend(l4)#l3 will be changed in this case
print(l3)

In [ ]:
#to remove wrt to values instead of index we can use
l3.append(2)
print(l3)
l3.remove(2)#the remove function will remove the first occurance
#of 2
print(l3)

In [ ]:
#list.append() will insert the value directly at the end of the
#list if we want to add the list item at a specific location 
#we need to use the list.insert()
l3.insert(0,'r')
print(l3)#we have inserted r in the 0th index

In [ ]:
#now to get the index of a value inside the list we use the 
#list.index()
l3.index('a')

In [ ]:
#if we cannot find it in the list it will throw an error
l3.index('z')

In [ ]:
#we can check in a boolean fashion if some value is present 
#inside the list
4 in l3

In [ ]:
'z' in l3

In [ ]:
#we can also find the length of the list using the len()
len(l3)

In [ ]:
%%time
#any and all can be used to check if any of the item inside the iterable is empty.
l3=[1,2,3,4,5]
l4=[1,2,3,(),4]
print(any(l3),any(l4))
print(all(l3),all(l4))

In [ ]:
l1=['hi']*20#will multiply hi 20 times
print(l1)

In [ ]:
#how can we handle duplicate elements inside a list
l1=[11,2,3,14,5,61,7,1,2,3,4,5]#we can see this list contains duplicates inside it.
l2=list(set(l1))
print(l1)
print(l2)#we can see that the duplicate elements have been removed.
#we can see that the order has been changed

#if we wanted to keep the squence of items (ordering) intact
def uniq_vals(x):
    uniq=[]
    for i in x:
        if i not in uniq:
            uniq.append(i)
        else:
            continue
    return uniq
    
print(uniq_vals(l1))#here we can see that the ordering of the items is kept intact.

In [ ]:
#search index of items repeating inside the list
data=['a',2,1,3,'a',4,5,6,7,'a']
print(data.index('a'))#this will by default return the index of only the first occurance in our list
def multiples(x,y):
    try:  
        pos=[]
        res=0
        while True:
            res=x.index(y,res)
            pos.append(res)
            res=res+1
        return pos
    except:
        print('end of list index')
print(multiples(data,'a'))

In [ ]:
#search index of items repeating inside the list
data=['a',2,1,3,'a',4,5,6,7,'a']

def multiples(x,y):
        data_pos=[]
        for i in range(len(x)):
            if x[i]==y:
                data_pos.append(i)
            else:
                continue
        return data_pos

print(multiples(data,'a'))

In [ ]:
def getIndexPositions(listOfElements, element):
    ''' Returns the indexes of all occurrences of give element in
    the list- listOfElements '''
    indexPosList = []
    indexPos = 0
    while True:
        try:
        # Search for item in list from indexPos to the end of list
            indexPos = listOfElements.index(element, indexPos)
# Add the index position in list
            indexPosList.append(indexPos)
            indexPos += 1
        except ValueError as e:
            break
    return indexPosList

listOfElems = ['Hello', 'Ok', 'is', 'Ok', 'test', 'this', 'is', 'a', 'test', 'Ok']
indexPosList = getIndexPositions(listOfElems, 'Ok')
print('Indexes of all occurrences of "Ok" in the list are : ', indexPosList)
listOfElems = ['Hello', 'Ok', 'is', 'Ok', 'test', 'this', 'is', 'a', 'test', 'Ok']
 
# Get indexes of all occurrences of 'Ok' in the list
indexPosList = getIndexPositions(listOfElems, 'Ok')

In [ ]:
#check if an item exists in the list
data=[1,'a',2,'b','c',1,2,3,1]
def checking(ls,item):
    if item in ls:
        print(f'Item {item} found in list in position {ls.index(item)}')
    else:
        print(f'{item} not found in list {ls}')
checking(data,'a')
checking(data,99)

data.count(1)#we can find the number of times the item with value 1 is present in the list using the 
#list.count()

#we can also work in this way
if (any(i for i in data if type(i)==str)):
    print('value found')
else:
    print('value not found')

In [ ]:
#how to check if all the elements present in list1 are present in list2
l1=[1,2,3,4,599,71,9]
l2=[2,3]
l3=[2,'a']
#check if l2 is present in l1
res1=all(i in l1 for i in l2)
res2=all(i in l1 for i in l3)
res3=any(i in l1 for i in l3)
print(res1)
print(res2)
print(res3)

In [ ]:
#check if all the elements are same in a lis
def same_vals(x):
    if all(i==x[0] for i in x):
        print('All elements are same')
    else:
        print('Elements are not the same')
l1=['hi']*10
l2=[1,2,3]
same_vals(l1)
same_vals(l2)


#we can also do this by converting the list into a set and then checking the length
def same_vals_set(x):
    l1=list(set(x))
    if len(l1)==1:
        print('all Elements are same')
    else:
        print('Elements are different')
same_vals_set(l1)
same_vals_set(l2)

In [ ]:
data_alpha=['at','this','party','we','will','try','our','code']
data_num=[1,100,10,22,999,44]
#sorting these arrays in different ways
print(data_alpha.sort())
print(data_num.sort())
print(data_num.sort(reverse=True))

In [ ]:
data_alpha=['at','this','party','we','will','try','our','code']
data_num=[1,100,10,22,999,44]
#sorting these arrays in different ways
data_alpha.sort()
print(data_alpha)
data_alpha.sort(key=len)
print(data_alpha)
data_num.sort()
print(data_num)
data_num.sort(reverse=True)
print(data_num)
data_num.sort(key=int)
print(data_num)

In [ ]:
data=[('e',20),('a',35),('c',40)]
data.sort()
print(data)#we can see that by default it will sort only according to the first element in the tuple
#if we want to sort according to the second element the frequency
data.sort(key=lambda elem:elem[1])
print(data)#sorting according to the second element in the tuple.

def comparator(x):
    return x[1]
data.sort(key=comparator)
print(data)
#we can sort according to the frequency by writing a custom function and then passing it as a key in 
#the sort()

In [ ]:
#extending a list 
l1=[1,2,3,4,5]
l2=[5,6,7,8,9,10]
l3=l1+l2
print(l3)
l1.extend(l2)
print(l1)

In [ ]:
l1=[[1,2,3,4],[1,2,3],[1,2,3]]
l3=[1,2,3]
print(sum(l3))
print(len(l1))#what if we have to find the the length of the nested lists as well
res=sum([len(i) for i in l1])
print(res)
l2=[[1,2,3],4,[2,4,5],5]
#res2=sum([len(i) for i in l2])#wont work
#print(res2)
def list_value_count(x):
    res=[]
    for i in x:
        if type(i)==list:
            res.append(len(i))
        else:
            res.append(1)
    return sum(res)

print(list_value_count(l1))
print(list_value_count(l3))
print(list_value_count(l2))

In [8]:
#finding if there are duplicates in the list along with frequency and index
l1=['hello','hi','yum','hi','this','that','a','a','the','this','and']

def duplicates_with_index(l):
    dic=dict()
    index=0
    for i in l:
        if i in dic:
            dic[i][0]+=1
            dic[i][1].append(index)
        else:
            dic[i]=[1,[index]]
            index=index+1
    dic={key:value for key,value in dic.items()}
    return dic
print(duplicates_with_index(l1))

{'hello': [1, [0]], 'hi': [2, [1, 3]], 'yum': [1, [2]], 'this': [2, [3, 7]], 'that': [1, [4]], 'a': [2, [5, 6]], 'the': [1, [6]], 'and': [1, [7]]}

In [12]:
#converting a list to a string in python
l2=['This','is','a','sample','string']
result=' '.join(l2)
print(result)
l2=['This','is','a',1,2,3]
#we need to first convert the ints before calling the string.join()
res=' '.join([str(i) for i in l2])
print(res)

This is a sample string
This is a 1 2 3

In [59]:
#converting a list of lists/nested list to a flat list
l1=[[1,2,3,4,5,6],['a','b','c','d','e'],[1,2,3,4,5]]
flat_list=[j for i in l1 for j in i]
print(flat_list)

SyntaxError: invalid syntax (<ipython-input-59-53968fc00777>, line 7)

### Tuples

In [ ]:
#Tuples are quite simmilar to lists but they are immutable
t1=(1,2,3)
t1[0]

In [ ]:
t1[0]=8

In [66]:
#we can do most of the things we can do in lists in tuples \
#as well
t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)
print(t1[:2])
print(6 in t1)
print(6 in t2)
print(t1.index(2))#we can use the index method to get the index position of the item in the tuple.
#print(t1.index(9))#will throw a valueerror if it doesnt find the item in the tuple.
t3=(1,2,3,2,3)
print(t3.count(2))#will return the number of times that 2 is present as an item in the tuple.

(1, 2, 3, 4, 5, 6)
(1, 2)
False
True
1

2

In [ ]:
#we can unpack lists as well as tuples inside a bunch of variables
l1=[1,2,3,4,5,6]
t1=(1,2,3,4,5,6)
a,b,c=l1[::2]
print(a,b,c)
d,e,f=t1[::2]
print(d,e,f)

In [80]:
t1=(1,2,3,4)
t2=(5,6,7,8)
#inserting elements in the tuple
t1=t1 + (17,)#we are appending a new item inside the tuple at the end
print(t1)
print(t1.index(17))
#consider that we want to add a new element at pos 2 in t1
t1=t1[: 2]+(19,)+t1[2 :]
print(t1)
#consider we want to delete 19 at pos 2 now
t1=t1[: 2]+t1[3 :]#deleting an element from the tuple
print(t1)
#we can modify an element from the tuple in the same way.

(1, 2, 3, 4, 17)
4
(1, 2, 19, 3, 4, 17)
(1, 2, 3, 4, 17)

In [ ]:
#tuples are created 
a=1,2,3
type(a)

In [ ]:
a=1
b=2
c=3
d=4
a,b=c,d
print(a,b,c,d)

In [ ]:
a=10
b=20
a,b=b,a
print(a,b)#swapping 2 numbers in python

### Dictionaries

In [ ]:
dict1={'key1':1,'key2':'value2','key3':3}

In [ ]:
#we can also create dictionaries using the dict() 
dict2=dict([('key1',1),('key2',2),(3,3)])

In [ ]:
dict2.items()

In [ ]:
dict2.keys()

In [ ]:
#dictionaries are not indexed hence we need to make use of the key value pairs
print(f'The value for key 3 is {dict2[3]} as declared in the dictionary above')#this is an example of a f string

In [ ]:
#we can change the value of a particular key in the dictionary as 
dict2[3]='aqua'
print(f'The value for key 3 is {dict2[3]} as declared in the dictionary above')
del dict2[3]
print(dict2.keys())

In [ ]:
'key1' in dict2

In [ ]:
dict2.update(key1=27)
dict2

In [ ]:
dict2.update([('Key3',33)])#we can also add keys into our dictionary using the update button.
print(dict2)

In [ ]:
#we can use the pop() to delete an entry by specifing the key 
dict2.pop('Key3')
print(dict2)

In [ ]:
dict2.get('key1')#wil return the value given by key1

In [ ]:
new_str='helloworld'
res=dict.fromkeys(new_str,0)
print(res)

In [ ]:
#we can access the values using dictionary elements
dict1['key1']

In [ ]:
#we can get a list containing all the keys of the dictionary 
#using the dictionary.keys()
dict1.keys()

In [ ]:
#and we can get all the values using the .values()
dict1.values()

In [ ]:
#if we get a list of tuples containing all the items use 
#the dictionary.items()
dict1.items()

In [ ]:
#we can check if a key is present inside the dictionary using the
#in operator in the same way as that in lists and tuples
print('key2' in dict1)
print('l1' in dict1)

In [ ]:
#we can get the values of a particular key as follows
print(dict1['key1'])
print(dict1['key11'])#we will get a keyerror

In [ ]:
#we can make use of the get() instead
print(dict1.get('key1'))
print(dict1.get('key11'))

In [ ]:
#we can also specify a default argument when we dont have that 
#key present
dict1.get('four',4)#will return 4 as key named 'four' is not present

In [ ]:
dict1['four']=4#we can add a new key value pair as follows
dict1

In [ ]:
dict1.setdefault('five',5)#the dictionary.setdefault() will add the key value pair if not present in the dictionary
dict1

In [ ]:
dict1={'key1':1,'key2':'value2','key3':3}#we can iterate through a dictionary as follows.

for i,j in dict1.items():
    print(f'The key value pair is given as {i} and {j}')

In [ ]:
x=['a',2,'b',4,'c',6,7,'d',9]
enum=enumerate(x)
print(enum)
print(list(enum))

In [82]:
#creating a ditionary from a list of keys and initializing all of them to 0
l1=['a','b','c','d','e','a']
res=dict.fromkeys(l1,0)
print(res)#will initialize a dictionary from a list of keys with the initial value of 0

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0}

In [88]:
#if you have two lists and want to build a dictionary out of them
l1=['a','b','c','d']
l2=[1,2,3,4]
dict1=dict(zip(l1,l2))
print(dict1)
print(dict1.get('b'))
#if you want to create a list of all the keys in the dataset
l1=list(dict1.keys())
print(l1)
#filtering the list based on the keys.
l2=[i for i in dict1.keys() if i.startswith('a')]
print(l2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
2
['a', 'b', 'c', 'd']
['a']

In [90]:
#to delete a key from the dictionary use the del
l1=['a','b','c','d']
l2=[1,2,3,4]
dict1=dict(zip(l1,l2))
del dict1['a']
print(dict1)
# we can also use 
dict1.pop('b',None)#will return None if key not found
print(dict1)

{'b': 2, 'c': 3, 'd': 4}
{'c': 3, 'd': 4}

In [91]:
l1=['a','b','c','d']
l2=[1,2,3,4]
dict1=dict(zip(l1,l2))

l1=[key for (key,value) in dict1.items() if value==3] #this is how you would get the key based off the 
#value using list comprehension.
print(l1)

['c']

In [92]:
#filtering a dictionary based off conditions 
l1=['a','b','c','d']
l2=[1,2,3,4]
dict1=dict(zip(l1,l2))
new_dict={key:value for (key,value) in dict1.items() if value%2==0}
print(new_dict)

{'b': 2, 'd': 4}

In [95]:
l1=['abcd','bcdef','cefgh','dads']
l2=[1,2,3,4]
dict1=dict(zip(l1,l2))
#filtering the dictionary
dict_new={key:value for (key,value) in dict1.items() if len(key)==5}
print(dict_new)

{'bcdef': 2, 'cefgh': 3}

In [96]:
l1=['abcd','bcdef','cefgh','dads']
l2=[1,2,3,4]
dict1=dict(zip(l1,l2))
new_dict=dict(filter(lambda x:len(x[0])==5,dict1.items()))#we ca
print(new_dict)

{'bcdef': 2, 'cefgh': 3}

In [98]:
#printing a dictionary line by line.
l1=['abcd','bcdef','cefgh','dads']
l2=[1,2,3,4]
dict1=dict(zip(l1,l2))
[print(key,value) for (key,value) in dict1.items()]#printing a dictionary line by line.

abcd 1
bcdef 2
cefgh 3
dads 4

[None, None, None, None]

In [99]:
import json
l1=['abcd','bcdef','cefgh','dads']
l2=[1,2,3,4]
dict1=dict(zip(l1,l2))

print(json.dumps(dict1,indent=3))#we can use json.dumps() can be used to serialize the object passed 
#to it in the form of json objects

{
   "abcd": 1,
   "bcdef": 2,
   "cefgh": 3,
   "dads": 4
}

### Sets

In [ ]:
#we can create sets which are simmilar to lists but cannot hold
#duplicate values 
s1=set()
s2=set([1,2,3,4,1,2])
print(s2)
print(s2[0])#sets are not ordered hence we cannot select them using indexing.

In [ ]:
dict1={1:2,3:4,5:5}
print(dict1.keys())
set1={1,2,3,4,5,6}
print(type(set1))
set2=set([1,2,3,4,5])
set3=set((1,2,3,4,5,6,99))
print(set2,set3)
print(type(set3))
s1=set({'helloworld'})#key difference
s2=set('helloworld')
print(s1,s2)
#s4=set([1,2,3,4],[4,5,6,7,8])
print(type(s4),s4)
#we can also do things like intersection and or etc wrt to sets
print(set1 | set2)
print(set1 & set2)
print(set1 - set2)#set difference
print(set2 <= set1)#set2 is a subset of set1
print(set2 < set1)
set4={1,2,3,8}
print(set4 <= set1)
print(set4 < set1)
#we can use the set.remove() or the set.discard() the remove function will throw an error if the item is not present 
#in the set
set4.remove(1)
print(set4)
#set4.remove(99)#throws error
set4.discard(99)#does not throw an error
set4.clear()#the set.clear() will remove all the items from the set.
print(set4)
print(set1.union(set2,set3))#instead of using | & etc we can use these functions.
print(set1.intersection(set2,set3))
set5=set1.copy()#the set.copy() returns a shallow copy of set1
print(set5)
set5.add(45)
print(set1,id(set1))
print(set5,id(set5))

In [ ]:
print(s2)#will ignore the duplicate values

In [ ]:
s3={1,2,3,4,5,6,7,89,1,2,3}#we can also declare a set as follows
print(s3)

In [ ]:
s3.add(123)#just like the list.append() the set has an add() which will insert the new value at the end of the list
s3

In [ ]:
s1={1,2,3,4}
s2={1,5,6,7}
#we can perform a union or an intersection between two sets using the & or the |
print(s1 & s2) #returns a set with the intersection of set1 and set2
print(s1 | s2)#returns the union of set1 with set2

In [ ]:
#set difference with - 
{1,2,3,4}-{2,3,5}
#symmetric difference with ^
{1,2,3,4}^{2,3,4}

In [ ]:
{1,2}>={1,2,3}

In [ ]:
{1,2}<={1,2,3}#check if the set on the right is a subset of the one on the left

In [ ]:
#the in operator can be used here as well
print(2 in s1,
5 not in s1)

In [ ]:
i=10
if i>10:
    print(' > 10')
elif i<10:
    print('< 10')
else:
    print('10')

In [ ]:
l1=['milk','eggs','rice','fish']
for food in l1:
    print('Tom loves to eat {stuff}'.format(stuff=food))

In [ ]:
#The range(lower,upper) will return a set of numbers from the lower number to the higher number
range(0,5)
for i in range(0,5):
    print(i)

### Try catch block

In [ ]:
try:
    raise IndexError("Index error caused!")
except IndexError as e:
    pass #no operation
except (TypeError,NameError):
    pass
else:
    print('done')
finally:#perform cleanup of resources here
    print('close')

In [ ]:
#if we want to cleanup resources withought using the try/finally 
#we can use the with statement
with open('file1.txt') as f:
    for l in f:
        print(l)

In [ ]:
def add(x,y):
    print('adding {a} and {b}'.format(a=x,b=y))
    return x+y
add(1,12)

In [ ]:
def add_var(*args):#if we want to work with a variable number of parameters theyy will be interpreted as a tuple when we use *
    sum=0
    for i in args:
        sum=sum+i
    return sum
add_var(1,2,3,4,5,6,7,8,9)

In [ ]:
#we can also use ** to get the positional arguments which are
#interpreted as a dictionary
def add_pos(**kargs):
    print(kargs.items())
add_pos(one=1,two=2)

In [ ]:
val1=16
def func():
    val1=20
    print(val1)
func()
print(val1)

In [ ]:
global val2
val2=17
def func():
    val2=20
    print(val2)
func()
print(val2)

In [ ]:
#LAMBDA FUNCTIONS / ANONYMOUS FUNCTIONS
(lambda x:x>=5)(10)

In [93]:
(lambda x,y:x+y)(12,10)#creating our add function using anonymous function

22

In [ ]:
def add(x,y):
    return x+y

res=map(add,[1,2,3,4,5,6,7],[1,2,3,4,5,6])
print(list(res))

In [ ]:
list(map(max,[1,2,3],[4,2,1]))

In [ ]:
res=filter(lambda x: x>3,[3,4,5,6,7,8,1,2,0])
list(res)

In [ ]:
where python

In [14]:
import pandas as pd
import numpy as np

In [15]:
vals=[(1,2,4),
     (3,4,5),
    (5,6,6) ]
df=pd.DataFrame(vals,columns=('one','two','three'))

In [29]:
df.head()

   one  two  three
0    1    2      4
1    3    4      5
2    5    6      6

In [32]:
df.apply(star,axis=0,args=[2,3])

   one  two  three
0    5    7     11
1    9   11     13
2   13   15     15

In [30]:
def star(x,m,c):
    return x*m+c

df_new.head()

In [38]:
df.loc[:,'one']

0    1
1    3
2    5
Name: one, dtype: int64

In [39]:
df.loc[:,'one'].apply(star,args=[2,3])

0     5
1     9
2    13
Name: one, dtype: int64

In [48]:
df.apply(star,axis=0,args=[df['one'],2])

   one  two  three
0    3    4      6
1   11   14     17
2   27   32     32

In [ ]:
import numpy as np
import pandas as pd
def star(x,m,c):
    return x*m+c
vals=[(1,2,4),
     (3,4,5),
    (5,6,6) ]
df=pd.DataFrame(vals,columns=('one','two','three'))
res=df.apply(star,axis=0,args=[2,3])

In [ ]:
i=[1,2,3,4,5]
j=['a','b','c']
k=[1,2,3,'a','t','p']
z = zip(i,j)
#print(z)
#print(list(z))#tuple packing
for a,b in z:
    print(f'value of {a} is {b}')

In [ ]:
#it is important to understand that the zip() and enumerate() return a special type of object which is iterable 
#these objects are known as generators these are designed to be used once and then destroyed

In [ ]:
i = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
j = ['a','b','c','d']   
z = zip(i,j)
for a,b in z:
    print(f'value of {a} is {b}')

In [ ]:
i = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
j = ['a','b','c','d']   
z = zip(i,j)
for a,b in z:
    print(f'value of {a} is {b}')
print(list(z))#empty
print(id(z))

print(z)

In [ ]:
#conversion from celsius to fahrenheit
fahrenheit_temps=[]
celsius_temps = [-60, -40, 0, 37, 100]
for i in celsius_temps:
    res=(i*(9/5))+32
    fahrenheit_temps.append(res)
print(fahrenheit_temps)

In [ ]:
#doing the same with list comprehension
fahrenheit_temps=[(i*(9/5))+32 for i in celsius_temps]
print(fahrenheit_temps)

In [ ]:
#Reverse the words in a string, but do not change the order of the words
res=''
input_str = 'the quick brown fox jumps over the lazy dog'
temp=input_str.split()
temp
for i in temp:
    print(i[::-1])#reverse it
    res=res+' '+i[::-1]
print(res)

In [ ]:
#doing the same with list comprehensions
res=[i[::-1] for i in input_str.split()]
print(res)

In [ ]:
input_str = 'the quick brown fox jumps over the lazy dog'
temp=input_str.split()
vowels=('a','e','i','o','u')
res=input_str
for i in input_str.lower():
    if i in vowels:
        res=res.replace(i,'')
    else:
        continue
print(res)

In [ ]:
#Read in a string which has comma separated email addresses.
#Create a dictionary where keys are the usernames and values are the email domains
input_str = 'to@izmet.de,dadweg@jodbip.ga,agbegru@ki.gl,ricuwi@papkop.pt,bit@te.ss,onutodwun@hi.sa,aso@luc.mt'
dict1={}
l1=[]
temp=input_str.split(',')
#print(temp)
for i in temp:
    res=i.split('@')
    #print(type(res))
    temp=tuple(res)
    l1.append(temp)
print(l1)
dict1.update(l1)
print(dict1)
    #print(list(res))
    
#print(dict1)

In [ ]:
#Python comprehensions 
#python comprehensions are used to generate collections on the fly using for loops
#so we can have different types of comprehensions lists,generators,dictionaries etc

In [ ]:
output=[]
for i in range(1,9):
    output.append(i+1)
print(output)

#we can do the same in one line with list comprehensions
output_new=[i+1 for i in range(1,9)]
print(output_new)

In [ ]:
#if we want to give a particular condition which needs to be satisfied
output_new=[i+1 for i in range(1,9) if i%2==0]
print(output_new)

In [ ]:
test_input=[i for i in range(1,11) if i%2==0]
print(test_input)

In [ ]:
output=[[i,j] for i in range(1,9) for j in range(1,6)]
print(output)

In [ ]:
output=[[i+j for j in range(1,5)]for i in range(1,6)]
print(output)

In [ ]:
output=[[(i,j)] for i in range(1,7) for j in range(1,5)]
print(output)

In [ ]:
z = [(i + j) for i, j in zip(range(11), range(10, 21))]
print(z)

In [ ]:
y=[i**2 if i%2==0 else i for i in range(1,10)]#we can also write a
print(y)

In [ ]:
#dictionary comprehensions
l=list(range(1,20))
print(l)
d={i:'even' if i%2==0 else'odd' for i in l}
print(d)

In [ ]:
#count the number of times a letter appears in a string
l='Project Alpha Version seven'
d={i:l.count(i)for i in l}
print(d)

In [ ]:
item=['cycle','tea','phone']#Create a dictionary of the following items
cost=[1,2,3]
d={i:j for i,j in zip(item,cost)}
print(d)

In [ ]:
#we can also form a dictionary if u wanted to just zip the lists
d=dict(zip(item,cost))
print(d)

In [ ]:
#set comprehensions
l=list(range(1,20))
s={i for i in l if i%2==0}
print(s)

In [ ]:
#generator comprehensions
#a generator comprehension is memory efficient as it is not evaluated immediatley but is used as 
#an iterable and will generate values one by one in the iteration this makes it memory efficient.
g=(i for i in range(100))
sum=0
for num in g:
    sum=sum+num
print(sum)
print(list(g))

In [ ]:
#python functions
def add(x,y):
    return x+y
print(add(1,2))
new_add=add
print(new_add(5,6))
def add(x,y,z):
    return x+y+z
print(add(1,2,3))
#print(new_add(1,2,3))#error

In [ ]:
def hi():
    print('hellooooo')
hi()
a=hi()
print(a)
#every python function returns a value only difference is that if we dont specify a value python will return
#none by default

In [ ]:
def add(a=1,b=10):
    return a+b
print(add())
print(add(1,2))
print(add(1))
print(add(b=12))

In [ ]:
#to convert a character to its corresponding ASCII value and back
res=ord('a')#converting 'a' to its ascii value use the ord()
print(res)
print(chr(res))#in python variables dont actually have a type its the value that is present inside
#the variable which will actually dictate its type
y=1.0
print(type(y))
y='a'
print(type(y))

In [ ]:
x=[1,2,3,4,5]
y=x
x.append(6)
print(id(x),x)
print(id(y),y)
y.append(7)
print(id(x),x)
print(id(y),y)
print(x==y)
print(x is y)

In [ ]:
#cartesian product using list comprehension
a=[1,2,3,4,5]
b=['a','b','b','c','d']
res=[(i,j) for i in a for j in b]#this will do axb and save it in the value res.
print(res)

In [ ]:
def squared(x):
    return x**2
#we can call this function as 
res1=squared(2)
#we can also call this function on an iterable
res2=map(squared,[1,2,3,4,5])
#we can also write the squared() as an anonymous function
res3=map(lambda x:x**2,[1,2,3,4,5])
#we can also use the filter()
res4=filter(lambda x:x>2,[1,2,3,4,5])#we use filter to filter the list 
print(res1,list(res2),list(res3),list(res4))
l1=[1,2,3,4,5]

In [ ]:
#working with maps and filters in listcomprehensions
values=list(range(30))
#filtering this list by applying filtering in a list comprehension
res1=[i for i in values if i%2==0]
#we can also use a map while working with list comprehensions
res2=[squared(i) for i in values if i%2!=0]
print(res1)
print(res2)

In [ ]:
#The reduce function
#the reduce function will recursivley apply the function and finally return a single value in the end
from functools import reduce
res=reduce(lambda x,y:x+y,[1,2,3,4,5])
print(res)

In [ ]:
l1=[1,2,3,4,5,6,7,1,2,3,1,23]

[index for index,val in enumerate(l1) if val==1]